.favoritos-container {
    overflow: auto;
}

.favoritos-container svg {
    width: 1.5em;
}

.favoritos-container .card-body {
    height: 200px;
    overflow: hidden;
}

.favoritos-container .btn {
    border-radius: 0 0 5px 5px;
    margin-top: auto;
}

.favoritos-container p {
    color: #fffedb;
}

.favoritos-container span {
    color: #aee637;
}

@media (min-width: 576px) {
    .favoritos-container {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}