.carousel-container {
    width: 100%; 
  }
  
  .carousel img {
    height: 600px; 
    object-fit: fill;
    width: 10;
  }

  .black-background{
    opacity: 1;
    background-color: black;
  }

  .transbox{
  background-color: black;
  border: 1px solid black;
  opacity: 0.9;
  }
  