@import 'bootstrap/dist/css/bootstrap.min.css';
body {
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #dce0e6;
    color: #1f1f20;
    height: 100vh;
}

/* .rain-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.raindrop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 20px;
    background: rgba(43, 76, 126, 1);
    animation: fall linear infinite;
}

.raindrop:nth-child(even) {
    animation-delay: 0.2s;
}

.raindrop:nth-child(odd) {
    animation-delay: 0.4s;
}

.raindrop:nth-child(3n) {
    animation-delay: 0.6s;
}

.raindrop:nth-child(4n) {
    animation-delay: 0.8s;
}

.raindrop:nth-child(5n) {
    animation-delay: 1s;
}

.raindrop:nth-child(6n) {
    animation-delay: 1.2s;
}

.raindrop:nth-child(7n) {
    animation-delay: 1.4s;
}

.raindrop:nth-child(8n) {
    animation-delay: 1.6s;
}

.raindrop:nth-child(9n) {
    animation-delay: 1.8s;
}

.raindrop:nth-child(10n) {
    animation-delay: 2s;
}

.raindrop:nth-child(11n) {
    animation-delay: 2.2s;
}

.raindrop:nth-child(12n) {
    animation-delay: 2.4s;
}

.raindrop:nth-child(13n) {
    animation-delay: 2.6s;
}

.raindrop:nth-child(14n) {
    animation-delay: 2.8s;
}

.raindrop:nth-child(15n) {
    animation-delay: 3s;
}

.raindrop:nth-child(16n) {
    animation-delay: 3.2s;
}


@keyframes fall {
    to {
        transform: translateY(100vh);
    }
} */

.nav {
    background-color: #2b4c7e;
    color: #dce0e6;
}